<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EdurekaProject">
   <listeners>
  <listener class-name="com.edureka.generic.ITest"></listener>
  </listeners>
   <test  name="Regression">
  <classes>
     <class name="com.edureka.testscripts.FlipcartShopping"></class>
  </classes>
  </test> <!-- Regression -->
</suite> <!-- EdurekaProject -->
